@{
    ViewBag.Title = "Over ons";
}
<h2>@ViewBag.Title.</h2>


<p>
    De Rabobank (handelsnaam van de Coöperatieve Rabobank U.A., tot 1 januari 2016 de Coöperatieve Centrale Raiffeisen-Boerenleenbank B.A.) is een Nederlandse bank. De bank heeft sinds 2016 één bankvergunning van De Nederlandsche Bank. De Rabobank is onderdeel van de Rabobank Groep en naar eigen zeggen de grootste financiële dienstverlener in Nederland.

    In 2013 beheerden de 136 lokale Rabobanken 802 vestigingen en 2.735 geldautomaten. Het totale personeelsbestand van de lokale banken omvat ongeveer 27.200 formatieplaatsen. De lokale Rabo-coöperaties bedienen gezamenlijk ongeveer 7,5 miljoen klanten, waarvan bijna 6,8 miljoen particulieren. 1,9 miljoen (2013) klanten zijn ook lid van de Rabobank. Wereldwijd hebben de Rabobank en al haar dochterondernemingen 59.506 medewerkers.
</p>
