@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    Graanmarkt 1, 1681 PA Zwaagdijk <br />
    Ma-vr: 8.00-21.00 uur <br />
    Za: 9.00-17.30 uur <br />
</address>

<address>
    <strong>Mail</strong> <a href="mailto:rabobank@live.nl"> Rabobank </a> <br />
    <strong>Particulieren</strong> (0228) 56 66 00 <br />
    <strong>Bedrijven:</strong> (0228) 54 65 00 </a>
</address>



<div id="formSection">
    <!-- todo update amount when you type-->
    <h3>@ViewBag.TheMessage</h3>
    <form method="post" id="contactForm">
        <textarea name="message" id="message" maxlength="150" data-bind="value:message, valueUpdate:'input'"></textarea>
        <input type="submit" value="Verzenden">
        <span data-bind="text:charactersRemaining"> </span> Characters Vrij 
    </form>
</div>



@section scripts
{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <script src="~/Scripts/knockout-3.5.1.js"></script>
    <script>
        function ContactViewModel() {
            var self = this;
            self.message = ko.observable('');
            self.charactersRemaining = ko.computed(function () {
                return 150 - self.message().length;
            })
        }
        ko.applyBindings(new ContactViewModel());
    </script>


    <script>
        $('#contactForm').submit(function () {
            $('#progress').show();
            $.post('', { message: $('#message').val() })
                .done(function (response) {
                    setTimeout(function () { $('#formSection').html(response); }, 2000)
                });
            return false;
        });
    </script>

}
