@model IEnumerable<WebATM.Models.Transaction>

@{
    ViewBag.Title = "BalansTransaction";
}

<h2>Balans van Gebruiker</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.ActionLink("Info", "Details", "Transactions", new { id=item.Id }, null) 
        </td>
    </tr>
}

</table>
